<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright text-center">
    Ce site est fait avec <i class="fas fa-heart"></i><br> par des étudiants du <a href="https://www.lewagon.com/fr" target="_blank">Wagon</a>
  </div>
</div>
