<div class="banner">
  <div class="container">
      <h1><i class="highlight" >Redonnez-vie à des lieux abandonnés !</i></h1>
    <p><i class="highlight">Quel que soit votre projet, nous avons le lieu qu'il vous faut</i></p>
    <%= link_to "Découvrir 🕵️‍♀️", places_path, class: "btn btn-flat" %>
  </div>
</div>
