.tag-project {
  border-radius: 5px;
  border: solid 2px $green;
  padding: 10px 16px;
  font-style:normal!important;
}
.tag-show {
  border-radius: 5px;
  background-color: $blue;
  padding: 10px 16px;
  font-style:normal!important;
}

.tag-type {
  border-radius: 5px;
  border: solid 2px $purple;
  padding: 10px 16px;
  font-style:normal!important;
}

.tag-activity {
  border-radius: 5px;
  background-color: $blue;
  color: $purple;
  padding: 10px 16px;
  font-style:normal!important;
}

.tag-activity a {
  text-decoration: none;
}

.tag-activity:hover {
  color: $white;
  background-color: $purple;
  & a {
    color: $white;
  }
}

.link-solo {
  transition: ease-in-out 0.1s;
  text-decoration: none;
}

.link-solo:hover {
  background-color: $blue;
  padding: 4px 15px;
  border-radius: 3px;
  font-weight: bold;
}

.rounded-angle {
  border-radius: 10px;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}

body {
  padding-top: 80px !important;
}

#home-title {
  color: $green;
  font-weight: 700;
  font-size: 22px;
}
